@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*GERAIS*/

* {
    font-family: "Open Sans", sans-serif; 
}

h2 {
    font-family: "Bebas Neue", sans-serif;
}

p {
    text-align: justify;
}

/*INDIVIDUAIS*/

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
}

#logomarca {
    margin: 10px 10px 10px 10px;
}

nav > a {
    color: #e48988;
    text-decoration: none;
    margin: 0px 10px 0px 20px;
}

.menu:hover {
    font-weight: 600;
    color: red;
}

picture > img {
    max-width: 1519px;
    max-height: 800px;
    width: auto;
    height: auto;
    margin: auto;
}

#secao-conteudo {
    margin: 10px 25px 25px;
}

#secao-conteudo > h2 {
    color: #e48988;
    font-size: 2em;
    margin: 0px 0px 0px 0px;
}

.procedimentos > h3 > a {
    text-decoration: none;
    color: #e48988;
}

#desenvolvimento-pessoal {
    display: flex;
}

#desenvolvimento-pessoal > img {
    max-height: 400px;
    width: auto;
    height: auto;
    border: 15px solid #e48988;
    border-bottom: 0px;
}

.desenvolvimento > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: white;
    background-color: #e48988;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 20px;
}

.desenvolvimento > p {
    font-size: 1.3em;
    text-align: justify;
    padding: 10px 20px 0px 20px;
}

#secao-video {
    align-items: center;
    background-color: #e48988;
    color: white;
    display: flex;
    padding: 0px 25px 0px 25px;
}

#video {
    margin: 13px 10px 10px 10px;
}

#p-video {
    text-align: center;
    padding: 0px 50px 0px 50px;
}

aside {
    background-color: #e48988;
    color: white;
}

aside > h2 {
    font-size: 2em;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 25px;
}

#clientes {
    display: flex;
    padding: 15px 25px;
}

.comentario {
    border: 3px solid white;
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
    width: 410px;
}

.comentario > h3 {
    background-color: white;
    color: #e48988;
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 10px;
    width: 402px;
    border-radius: 0px 10px 0px 0px;
}

.comentario > p {
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 10px;
    width: 392px;
    border-radius: 0px 10px 0px 0px;
}

#contato {
    padding: 10px 10px 10px 10px;
}

footer {
    padding: 10px 20px 10px 20px;
    background-color: #131919;
    display: flex;
    align-items: center;
}

footer > p {
    color: white;
    font-size: 1em;
    margin: 0px;
    font-family: "Open Sans", sans-serif; 
    font-weight: 100;
}

#redes-sociais {
    display: flex;
    margin: 0px 10px 0px 10px;
}

#redes-sociais > li {
    list-style-type: none;
}

.imagem-redes {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin: 0px 10px 0px 0px;
}

