@charset "UTF-8";

picture > img {
    width: 100%;
    margin: auto;
}

#secao-conteudo {
    max-width: 1200px;
    margin: auto;
}

#secao-conteudo > h2 {
    color: #e48988;
    font-size: 2.5em;
    margin: 10px 0px;
}

.procedimentos > h3 > a {
    text-decoration: none;
    color: #e48988;
    margin: 10px 0px;
}

.procedimentos > p {
    margin: 10px 0px;
}

aside {
    background-color: #e48988;
    color: white;
}

#aside-conteudo {
    max-width: 1200px;
    margin: auto;
}

#aside-conteudo > h2 {
    font-size: 2em;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 25px;
}

#clientes {
    display: flex;
    padding: 15px 25px;
    overflow-x: scroll;
}

.comentario {
    border: 3px solid white;
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
    max-width: 300px;
}

.comentario > h3 {
    background-color: white;
    color: #e48988;
    padding: 3px 0px 3px 10px;
}

.comentario > p {
    margin: 0px 10px 0px 0px;
    padding: 5px 0px 5px 10px;
    border-radius: 0px 10px 0px 0px;
}

#contato {
    padding: 10px 10px 10px 10px;
}